body {
    font-family: Arial;
    background-color: #f0f8ff;
    padding: 20px;
}

#titulo-clinica {
    color: green;
    text-align: center;
}

.bemvindo {
    text-align: center;
}

.servico {
    border: 1px solid green;
    padding: 10px;
    margin: 10px 0;
}

.medico {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0;
}

#aviso {
    background-color: yellow;
    padding: 10px;
}

.depoimento {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
}